/* contact us form design */
.contact-us-form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin-top: 15px;
  background-color: red;
  border-color: green;
  color: white;
  font-weight: bold;
}